body {
    font-family: "Lato", sans-serif;
}
img.img-thumbnail {
    height: 150px;
    width: 50%;
}

.logo img {
    max-height: 40px;
    width: 200px;
    margin-right: 6px;
}

.badge{
    color: black;
}

.card-header {
    justify-content: space-between;
    display: flex;
    color: #012970;
}

.error {
    color: red;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline{
    height: 120px;
}