body {
    font-family: "Lato", sans-serif;
}

ul#navigation{
    padding-left: 0;
}
.blog_details p {
    color: black;
}

a{
    text-decoration: none;
}

.eventcard{
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;

}

.card .card-body{
    height: 350px;
    width: 400px;
}
.card .card-body img{
    height: 100%;
    width: 350px;
}

.category-browse--header-container {
    background: #f8f7fa;
    background-color: #240F4C;
    height: 288px;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}
/* .category-browse--header-container .category-browse--header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 24px;
    min-width: 240px;
} */

.category-browse--header-container .category-browse--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1316px;
    padding: 0 0 0 40px
}
.category-browse--header-container .category-browse--header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 24px;
    min-width: 240px;
}

/* Artist Show Page Design */

.scroller-height{
    max-height: 160px;
    overflow-y: auto;
}
.scroller-height.border {
    padding:  10px 10px 10px 15px;
}

/* End Artist Show Page Design */
.wishlist {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 20px;
    color: red;
    font-size: 20px;
}
.wishlist.red::before{
    color: red!important;
}
.performer_heading p{
    color: black;
    font-size: 16px;
}
.performar_area .single_performer .thumb img{
    /* border-radius: 10px 10px 0 0; */
    object-fit: cover;
}

/* event-index */
.rounded-img{
    border-radius: 20px;
}